html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.container {
  background-color: black;
  display: flex;
  justify-content: center;
}

/*header*/

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 15;
}

.navigation {
  flex-grow: 0.5;
}

.logo img {
  margin-left: 10px;
  height: 50px;
}

.navigation h1 {
  text-decoration: underline;
  font-family: Helvetica;
}

/*mission*/

#tom {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission {
  background-image: image(resources/img-mission-background.jpg);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1200px;
  height: 700px;
}

.missiontext {
  background-color: black;
  text-align: center;
}

/*teatypes*/

.teatypes {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teaofmonth {
  display: flex;
  flex-direction: column;
}

img.teaofmonth {
  margin-bottom: 10px;
  height: 200px;
  width: 300px;
}

h4 {
  text-align: center;
}

h2 {
  text-align: center;
}

/*location*/

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 500px;
  background-image: url()
}

.loc {
  background-color: black;
  border: 1px solid white;
  width: 300px;
  height: auto;
  margin-right: 40px;
  margin-top: 15px;
  opacity: 1px;
  text-align: center;
}

h1 {
  font-family: Helveltica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

h2 {
  font-family: Helveltica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: inline-block;
}


#one image {
  height: 50px;
  position: relative;
  display: inline-block;
  right: 10px;
}
